@import url(public.css);
@import url(basic.css);
@import url(style.css);

.container .top-warrper {
    height: 39.6rem;
}

.container .top-warrper h1 {
    position: absolute;
    bottom: 8rem;
    color: var(--main-white-color);
    left: 2rem;
    font-size: 2.84rem;
    z-index: 1;
    font-weight: 600;
}

.container .top-warrper .go-back {
    position: absolute;
    width: .8rem;
    height: 1.4rem;
    top: 2.5rem;
    left: 2rem;
    background: url(../img/left.png) no-repeat;
    z-index: 1;
}

.container .top-warrper .img-box {
    position: absolute;
    top: 8.5rem;
    width: 27.3rem;
    height: 32rem;
    right: -8rem;
    background: url(../img/man.png) no-repeat;
    z-index: 1;
}

.container .login-box {
    width: 100%;
    padding: 2rem;
    font-size: 1.6rem;
    color: var(--main-black-4);
}

.container .login-box .box p {
    line-height: .2rem;
}

.container .login-box .box p.txt-right {
    text-align: right;
    margin-right: 2.5rem;
}

.container .login-box .box p.txt-right a {
    font-size: 1.4rem;
    color: var(--main-color);
}

.container .login-box .box {
    position: relative;
}

.container .login-box .box input {
    width: 100%;
    height: 4.6rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    background-color: var(--main-gray-9);
    padding-left: 3.2rem;
    color: var(--main-black-4);
}

.container .login-box .box .eye-icon {
    width: 2.4rem;
    height: 2rem;
    position: absolute;
    background: url(../img/eye.png) no-repeat;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.container .login-box .box input[type="submit"] {
    margin: 2rem 0;
    padding-left: 0;
    font-weight: 600;
    height: 5.4rem;
    font-size: 1.8rem;
    color: var(--main-white-color);
    background-color: var(--main-color);
}

.container .login-box p.txt-center {
    text-align: center;
    color: var(--main-color);
}

.container .login-box p.txt-center a {
    color: var(--main-color);
    font-weight: 600;
}